img.title{
    position:relative; /*this is the key*/
    z-index:24; background-color:#ccc;
    color:#000;
    text-decoration:none
}

img.title:hover{z-index:25; background-color:#ff0}

img.title span{display: none}

img.title:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:2em; left:2em; width:15em;
    border:1px solid #0cf;
    background-color:#cff; color:#000;
    text-align: center
}

.tasktimer {
    background-color:#2F4F2F
}
